# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'New Blog Post'
      'command': 'atom-nikola:new-blog-post'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Nikola'
      'submenu': [
        {
          'label': 'New Blog Post'
          'command': 'atom-nikola:new-blog-post'
        }
      ]
    ]
  }
]
